body {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/baitcon-bkg_1920_1080.png?v=2022');
}
#contact-person {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/b-ima_h-blanco-es.svg');
  background-size: 182px 48px;
}
#content.vcard-mail-sent .action-buttons>input {
  border: 2px solid #874493;
}
#content p.hint {
  background: #874493;
}
#contact-person+ul li:hover,
#content .action-buttons a:hover,
#footer .button.big:hover,
.button.big.green:hover {
  background: #552156!important;
  border-color: #552156!important;
}
ul.qr-hint {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/b-iso-color.svg');
  background-size: 48px 48px;
}
