:root{--mainColor:#109B84;--subColor:#12B59A;--highlightColor:#43C297;}
body{background-image:url('https://git.grupodatco.com/qr/img/st-bkg_1920_1080.jpg')}
#contact-person{background-image:url('https://git.grupodatco.com/qr/img/st-ima_h-blanco.svg');background-size:182px 48px}
ul.qr-hint{background-image:url('https://git.grupodatco.com/qr/img/st-iso-color.svg')}