body {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/velocom-bkg_1920_1080.png?v=2022');
}
#contact-person {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/v-ima_h-blanco.svg');
  background-size: 110px 48px;
}
#content.vcard-mail-sent .action-buttons>input {
  border: 2px solid #AE1A57;
}
#content p.hint {
  background: #AE1A57;
}
#contact-person+ul li,
#content .action-buttons a,
#footer .button.big,
.button.big.green {
  background: #E94180!important;
}
#contact-person+ul li:hover,
#content .action-buttons a:hover,
#footer .button.big:hover,
.button.big.green:hover {
  background: #CD346C!important;
}
ul.qr-hint {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/v-iso-color.svg');
  background-size: 48px 48px;
}
