body {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/zerognetworks-bkg_1920_1080.png?v=2022');
}
#contact-person {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/zerog-ima_h-blanco.svg');
  background-size: 282px 48px;
}
#content.vcard-mail-sent .action-buttons>input {
  border: 2px solid #692D87;
}
#content p.hint {
  background: #692D87;
}
#content .action-buttons a,
#footer .button.big,
.button.big.green {
  background: #4D1968!important;
}
#content .action-buttons a:hover,
#footer .button.big:hover,
.button.big.green:hover {
  background: #692D87!important;
}
ul.qr-hint {
  background-image: url('https://www.grupodatco.com/qr-bcard/img/zerog-iso-color.svg');
  background-size: 48px 48px;
}
