/* Fuentes */
@import url(https://git.grupodatco.com/fonts/webfonts.css);
body:before,.clear,ul.gdpr,ul.qr-hint li.qr-hint,.social-share+p,#content p.company,#content ul li i,.button.big i,#wl-share-sms,#content .action-buttons a:first-child,a[href^='whatsapp://'],#content ul li.odd.mobile.phone-private i+span,i.map{display:none!important}
html,body{margin:0;padding:0}
body{background-size:cover;background-attachment:fixed!important;font-size:1.4em}
input,select,textarea{border-radius:12px!important;outline:none!important}
li a{display:block}
#content ul li,#content .action-buttons a,.button.big,.button.big.green,#content ul.social-links li a{transition:all .1s ease-in-out}
#wrap,#wrap #main,.action-buttons-container,#footer{margin:0 auto!important}
#wrap #main{padding-bottom:0!important}
#content{background:none!important}
#content .action-buttons-container{padding:0 10px 20px}
#contact-person{padding-top:60px;background-repeat:no-repeat;background-position:center 20px}
#content ul li{border:none!important}
#content ul#contact-info li,#content ul.contact-address li{background:rgba(0,0,0,.4)!important}
#content ul#contact-info li:hover,#content ul.contact-address li:hover{background:rgba(0,0,0,.7)!important}
#content ul.qr-hint{margin:0 auto 1em;padding-top:70px;max-width:fit-content;border:none;box-shadow:none;box-shadow:0 0 0 6px rgba(255,255,255,.2);border-radius:12px;background-repeat:no-repeat;background-position:center 20px}
#content ul.qr-hint .qr-code{width:200px}
#content ul.qr-hint li{margin-top:0;padding:.5em}
#content ul.social-links{margin-top:1em;text-align:center}
#content ul.social-links li a{opacity:.9}
#content ul.social-links li a:hover{opacity:1}
#content ul.social-links img{border-radius:12px}
#content{background:rgba(0,0,0,0)}
#content .button{display:inline-block;margin:0 .2em .5em;padding:.4em .6em;font-size:.7em;font-weight:400;border-radius:6px!important}
#content p.headline{margin-top:30px!important;padding:0 10px!important;font-weight:500;font-size:180%;line-height:1.1;font-family:'neo-sans',sans-serif}
#content p.position{padding:10px 30px;font-size:125%;line-height:1.25;font-family:'neo-sans',sans-serif;font-weight:500}
#content.vcard-mail-sent p.position{padding-bottom:0;font-size:.9em;line-height:1.15;font-weight:500;font-family:'open-sans',sans-serif}
#content.vcard-mail-sent #contact-person{padding-bottom:20px}
#content.vcard-mail-sent .action-buttons>input{width:90%;margin:15px 0;padding:6px 12px;font-family:'open-sans',sans-serif;font-size:100%;color:#555555;text-align:center;border:2px solid rgba(0,0,0,.4)}
#content p.hint{margin:30px 0;font-family:'open-sans',sans-serif;font-style:italic;font-weight:400;color:#FFFFFF}
#content p{font-family:'neo-sans',sans-serif;letter-spacing:0;color:#FFFFFF!important}
#content ul li,#content .action-buttons a,.button.big,.button.big.green{margin:15px auto;padding:10px 15px;height:auto!important;position:relative!important;left:0!important;font-family:'neo-sans',sans-serif;font-weight:500;font-size:.9em;line-height:1.2;background:none;box-shadow:none;border-radius:12px!important;border:none!important;color:#FFFFFF;letter-spacing:0}
#content ul li{padding:0;width:fit-content}
#content ul li a{padding:.3em .6em;color:#FFFFFF}
#content ul li.odd.mobile.phone-business{margin-top:0;margin-bottom:0}
#content ul li.odd.mobile.phone-private{margin-top:5px}
#content .action-buttons a{width:fit-content}
.button.big,.button.big.green{width:fit-content!important;box-shadow:0 2px 4px 0px rgba(0,0,0,.2)!important}
#content ul li:hover,#content .action-buttons a:hover,.button.big:hover,.button.big.green:hover{
  color:#FFFFFF!important}
#content .action-buttons a,.button.big{font-family:'neo-sans',sans-serif;font-weight:500}
#content ul li span{color:#FFFFFF;font-family:'neo-sans',sans-serif;font-weight:500;border-bottom:none}
#content ul li span.address-block{text-decoration:none}
#content ul li:last-child{border:none}
#content ul .role{margin:0 auto!important;padding:3px 8px;display:inline-block;width:auto;position:relative;bottom:1px;background:rgba(0,0,0,.3);border-bottom-left-radius:6px;border-bottom-right-radius:6px;font-size:70%}
.social-container,.action-buttons{margin:10px auto 0}
#download-vcard span,#call-now span{display:block!important}