#content ul {
    flex-wrap: wrap;
    display: flex;
    margin: 0px;
    align-content: flex-end;
 }

#content li {
    line-height: 1.4;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}


/*botones agregar a carrito*/

.woocommerce ul.products li.product .button {
    display: flex;
    margin-top: 1em;
    color: white;
    flex-wrap: wrap;
    flex-grow: 3;
    align-self: flex-end;
    width: 100%;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.added::after, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.added::after, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.added::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.added::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.added::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.added::after, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.added::after {
    font-family: WooCommerce;
    content: "\e017";
    margin-left: 3em;
    margin-top: 0.3em;
    vertical-align: bottom;
    text-align: center;
}

.woocommerce a.added_to_cart {
    margin: 0 auto;
   }

   .woocommerce ul.products li.product .button {
    display: inline-block;
    margin-top: 1em;
    color: white;
}





.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0.5em 0;
    margin: 0;
    font-size: 1.2em;
}

.woocommerce img, .woocommerce-page img {
     border-radius: 10px;
}

.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.woocommerce ul.products li.product .price {
    color: #0e316e; 
    font-size: 1em;
}

p.woocommerce-result-count{
display:none;}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: left;
}

body:not(.home) .padder{
    padding: 20px!important;
    background: white!important;
    border-radius: 10px;
    text-align: center;
}

pre{
color: #333;
border: 0 solid white;
padding: 0;
margin: 0;
font-family: 'open sans', sans-serif;
overflow: auto;
font-size: 1em;
line-height: 1em;}


.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

#content table th, #content table td {
    vertical-align: middle;
    line-height: 0.5;
}

.product-name{
    line-height: 1;
}