/* Ocultar */
.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__trigger,.woocommerce ul.products li.product .onsale,.woocommerce ul.products li.product .price ins:before,.woocommerce .star-rating::before,.woocommerce .star-rating span::before,.cart-subtotal,.woocommerce-cart .cart_totals .order-total th,.woocommerce-shop .woocommerce-breadcrumb,.woofc-area.woofc-style-01 .woofc-area-bot .woofc-action .woofc-action-inner>div.woofc-action-left,.product_meta,.product.stock-1 .cart{display:none}

/* Producto */
.woocommerce img.pswp__img,.woocommerce-page img.pswp__img,.woocommerce div.product div.images .woocommerce-product-gallery{border-radius:var(--regularRadius)}
.woocommerce div.product div.images.woocommerce-product-gallery{border:1px solid var(--lightgrayColor1);border-radius:var(--regularRadius);overflow:hidden}
.woocommerce div.product .product_title{margin-top:0!important;font-weight:normal}
.woocommerce ul.products img,.woocommerce div.product div.images img{max-height:300px;width:auto;object-fit:contain}
.woocommerce-product-details__short-description{margin:0 0 1em}
.woocommerce .quantity .qty{margin:0!important;padding:.4em 1em .4em .4em!important;border-top-left-radius:var(--regularRadius);border-bottom-left-radius:var(--regularRadius);border-top-right-radius:var(--smallRadius);border-bottom-right-radius:var(--smallRadius)}
.woocommerce div.product form.cart .button{border-top-left-radius:var(--smallRadius)!important;border-bottom-left-radius:var(--smallRadius)!important}
.related.products{clear:both}
.related.products h2{font-size:.8rem}
.admin-bar .pswp{z-index:9999}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price .woocommerce-Price-amount{padding:.8em .4em;background:var(--lightgrayColor2);color:var(--textColor);border-radius:var(--regularRadius)}

/* Tienda */
.woocommerce ul li.product,.woocommerce-page ul li.product{padding-bottom:.4em!important;margin-bottom:1em!important;border-radius:var(--regularRadius);box-shadow:var(--xsmallShadow);background:var(--whiteColor1);overflow:hidden}
.woocommerce ul li.product:not(.outofstock):not(.stock-1),.woocommerce-page ul li.product:not(.outofstock):not(.stock-1){display:grid;grid-template-columns:30% 70%;grid-template-rows:auto auto}
.woocommerce ul li.product:not(.outofstock):not(.stock-1)>a{grid-column:span 2}
.woocommerce ul.products li.product a img{margin-bottom:.4em}
.woocommerce ul.products li.product .woocommerce-loop-category__title,.woocommerce ul.products li.product .woocommerce-loop-product__title,.woocommerce ul.products li.product h3{padding:0 .8em .1em;font-size:1.1em;font-weight:normal}
.woocommerce ul.products li.product .price{margin-bottom:0;color:var(--textColor);padding:0 .8em}
.woocommerce ul.products li.product:hover{box-shadow:var(--smallShadow)}
.woocommerce ul.products li.product:hover .add_to_cart_button{background:var(--subColor)}
.woocommerce ul.products li.product .button{grid-column:auto!important;margin-top:0;padding:.8em .4em;font-size:.9rem;background:none!important;box-shadow:none!important;color:var(--highlightColor);text-align:left}
.woocommerce ul.products li.product.outofstock .button{padding-left:.8em}
.woocommerce ul.products li.product .button.loading{opacity:.6}
.woocommerce .button::after{position:absolute;top:11px!important;right:16px!important;color:var(--grayColor)!important}
.woocommerce .woocommerce-result-count{margin-top:.4em}
.woocommerce .woocommerce-result-count,.woocommerce .woocommerce-ordering select,.woocommerce-breadcrumb{font-size:.8rem!important}
.woocommerce .woocommerce-ordering select{margin-top:0!important}
.woocommerce-pagination{margin-top:1em}
.woocommerce-pagination ul{display:flex;justify-content:center;padding:.4em;background-color:var(--whiteColor1);border-radius:var(--regularRadius)}
.woocommerce-pagination ul li{font-size:1rem}
.woocommerce-pagination a,.woocommerce-pagination span{margin:0;padding:.4em .8em;color:var(--textColor);text-decoration:none}
.woocommerce-pagination a:hover{color:var(--highlightColor)}.woocommerce-pagination .current{color:var(--grayColor)}
.woocommerce ul.products li.product .quantity{margin-left:.8em;position:relative}

/* Flotante */
#woofc-count,prompticon3{display:inline-block;padding:.45rem;width:55px;height:55px;position:fixed;bottom:15px;right:75px;text-align:center;box-shadow:none;background:var(--mainColor);border-radius:50%;z-index:1;transform:scale(1)!important}
#woofc-count:hover,prompticon3:hover promptnotificationicon{background:var(--subColor)!important}
#woofc-count .woofc-count-number,promptnotificationicon{background:var(--highlightColor)!important;color:var(--whiteColor1);display:flex;align-items:center;justify-content:center;width:20px;height:20px;border-radius:50%;position:absolute;top:-5px;right:-2px;font-family:sans-serif;font-size:12px;z-index:1}
#woofc-count i[class*='woofc-icon-cart'],prompticonimage{display:flex;width:100%;height:100%;box-sizing:border-box;align-items:center;justify-content:center;color:var(--whiteColor1)}

/* Botones */
.yith-wacp-popup-actions{margin-bottom:2em}
.wbu-qty-button{padding:0;width:20px;height:auto!important;font-weight:normal;text-align:center;border:none;background:none;color:var(--highlightColor);position:absolute;right:0}
.wbu-qty-button.wbu-btn-inc{top:0}
.wbu-qty-button.wbu-btn-sub{bottom:0}

/* Notificaciones */
#yith-wacp-popup .yith-wacp-content .yith-wacp-message{background-color:var(--successColor);border-radius:var(--regularRadius);color:var(--whiteColor1)}

/* Otros */
.no-stock{background:var(--lightgrayColor2);pointer-events:none}
.yith-wacp-main{padding-bottom:0;border-radius:var(--largeRadius)}

/* Responsive */
@media (max-width: 768px) {
	.woocommerce-cart table.shop_table th,
	.woocommerce-cart table.shop_table td {
		font-size: 14px;
		padding: 8px;
	}

	.woocommerce-cart .actions .button {
		font-size: 14px;
		padding: 6px 10px;
	}
}
