.jOrgChart table{padding:0 2px 2px 2px}
.jOrgChart .bio.org_nolink{cursor:default;text-decoration:none}
.jOrgChart .node,.jOrgChart .node-title,.jOrgChart small{color:#FFFFFF;line-height:1.25}
.jOrgChart .node{transition:all .2s ease-in-out;margin:0 10px;min-width:120px;color:#FFFFFF;background:#0E316E;border-radius:6px;border:none!important;box-shadow:0 6px 12px 2px rgba(0,0,0,.2)}
.jOrgChart .node.org_dept_node{background:#F0582B;font-weight:400;font-size:.8em;font-family:'Neo-Sans',sans-serif}
.jOrgChart .node:hover{background:#F0582B}
.jOrgChart .node:hover a,.jOrgChart .node a{text-decoration:none!important}
.jOrgChart .node-title{display:block;font-weight:500;font-size:1.2em;font-family:'Neo-Sans',sans-serif}
.jOrgChart .node img{background:#FFFFFF;border-radius:3px}
.jOrgChart small{padding-bottom:2px;font-style:normal}
.jOrgChart .line{width:4px}
.jOrgChart .top{border-top:4px solid #0E316E}
.jOrgChart .right{border-left:2px solid #0E316E}
.jOrgChart .down{background-color:#0E316E}
.jOrgChart .left{border-right:2px solid #0E316E}
.jOrgchart .org_nolink{pointer-events:none}
.jOrgChart .downarrow{padding:5px 0 15px!important;height:auto;font-size:1.3em;color:#F0582B;border-radius:6px}
.jOrgChart .downarrow.fa.active-child.fa-arrow-up{padding:5px 0!important;color:#F0582B}
.jOrgChart table tr.child_box.level-even{box-shadow:none}
div#chart,div.orgChart{margin:0;padding:0}
.dragscroll{margin:0 -30px;padding:10px;max-height:100%;position:relative;background:#FAFAFA;border:4px solid #F0582B;border-top:none;overflow:scroll;cursor:grab}
.dragscroll .orgChart{transition:all .2s ease-in-out}
.dragscroll .orgChart .jOrgChart{transition:all .2s ease-in-out;transform:scale(.7)}
body.fullwidth .dragscroll{padding:4em 0}
body.fullwidth #post-content:not(.fullscreen) .dragscroll{max-height:450px}
body.fullwidth #post-content:not(.fullscreen) .dragscroll .orgChart{max-height:400px}
body.fullwidth .dragscroll .orgChart.chart_32264{transform:translate(-210px,-220px)}
body.fullwidth .dragscroll .orgChart.chart_26343{transform:translate(-130px,-180px)}
body.fullwidth .dragscroll .orgChart .jOrgChart{padding:5em}
body:not(.fullwidth) #post-content:not(.fullscreen) .dragscroll{max-height:300px}
body:not(.fullwidth) #post-content:not(.fullscreen) .dragscroll .orgChart{max-height:250px}
body:not(.fullwidth) .dragscroll .orgChart{transform:translateY(-100px)}
.zoom-org{margin:0 -30px;padding:0;background:#FAFAFA;border:4px solid #F0582B;border-bottom:none;text-align:center;z-index:10;pointer-events:none}
#content .zoom-org .buttons{display:grid;grid-template-columns:33.33% 33.33% 33.33%;border-bottom-left-radius:12px;border-bottom-right-radius:12px;overflow:hidden}
body.fullwidth #content .zoom-org .buttons{margin:0 20%!important}
body:not(.fullwidth) #content .zoom-org .buttons{margin:0 5%!important}
#content.fullscreen .dragscroll{height:100%;max-height:100%}
#content.fullscreen .zoom-org{border-top:60px solid #F0582B}
#page-wrapper #content .zoom-org button{margin:0!important;padding:.4em;border-radius:0!important;pointer-events:all;transform:none!important}