#woofc-count,prompticon3 {
    display: inline-block;
    padding: .45rem;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 15px;
    right: 75px;
    text-align: center;
	box-shadow: none;
	background: var(--mainColor);
    border-radius: 50%;
    z-index: 1;
	transform:scale(1)!important;
}
.woofc-count span, promptnotificationicon {
    background: var(--highlightColor)!important;
    color: var(--whiteColor1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -2px;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 1;
}
#woofc-count:hover span,prompticon3:hover promptnotificationicon {
	background: var(--subColor)!important;
}
.woofc-count i, prompticonimage {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
	color: var(--whiteColor1);
}
.woocommerce ul li.product, .woocommerce-page ul li.product {
	margin-bottom: 1em!important;
	border-radius: var(--regularRadius);
	box-shadow: var(--xsmallShadow);
	background: var(--whiteColor1);
	overflow: hidden;
}
.woocommerce ul.products li.product a img {
	margin-bottom: .4em;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding: 0 .8em .1em;
}
.woocommerce ul.products li.product .price {
	padding: 0 .8em;
}
:is(.cart,.no-stock) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart {
	background: var(--highlightColor);
}
.woocommerce ul.products li.product:hover {
	box-shadow: var(--smallShadow);
}
.woocommerce ul.products li.product:hover .cart {
	background: var(--subColor);
}
.no-stock {
	background: var(--lightgrayColor2);
	pointer-events: none;
}
:is(.cart,.no-stock) .quantity input[type="number"] {
    width: 60px;
	height: 100%;
	margin: 0!important;
	padding-right: 1.6em!important;
    text-align: center;
	background: rgba(0,0,0,.2);
	border: none;
	border-radius: 0;
	color: var(--whiteColor1);
}
.woocommerce ul.products li.product .button {
	display:block;
	width: 100%;
	margin-top: 0;
	padding: .8em;
	font-size: .9rem;
	background: none!important;
	box-shadow: none!important;
	color: var(--highlightColor);
	text-align: left;
}
.woocommerce ul.products li.product .button.loading {
	opacity: .6;
}
.woocommerce .button::after {
	top: 11px!important;
	right: 11px!important;
	color: var(--grayColor)!important;
}
.woofc-icon-cart7:before {
	content: '\f07a';
	font-family: 'Font Awesome 6 Pro',sans-serif;
	padding-top: .1em;
	font-weight: bold;
}
.woofc-area.woofc-style-01 .woofc-inner {
	background: var(--mainColor);
}
.woofc-area.woofc-style-01 .woofc-area-mid .woofc-item .woofc-item-inner .woofc-item-qty .woofc-item-qty-inner input {
	min-width: 40px;
}
.woofc-area.woofc-rounded-yes .woofc-inner {
	border-radius: var(--regularRadius);
}
.woofc-area.woofc-rounded-yes .woofc-inner .woofc-area-mid .woofc-item .woofc-item-inner .woofc-item-thumb img {
	border-radius: var(--smallRadius);
}