#woofc-count {
    display: inline-block;
    padding: .45rem;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 15px;
    right: 75px;
    text-align: center;
	box-shadow: none;
	background: var(--mainColor);
    border-radius: 50%;
    z-index: 1;
}
.woocommerce ul li.product, .woocommerce-page ul li.product {
	margin-bottom: 1em!important;
	border-radius: var(--regularRadius);
	box-shadow: var(--xsmallShadow);
	background: var(--whiteColor1);
	overflow: hidden;
}
.woocommerce ul.products li.product a img {
	margin-bottom: .4em;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding: .4em
}
.woocommerce ul.products li.product .price {
	padding: 0 .4em;
}
form.cart {
    display: flex;
    align-items: center;
    gap: 10px;
	background: var(--highlightColor);
}

form.cart .quantity input[type="number"] {
    width: 60px;
    text-align: center;
	background: none!important;
	border: none!important;
}

form.cart button {
	padding: .4em;
	background: none!important;
	box-shadow: none!important;
	color: var(--whiteColor1);
}

form.cart button:hover {
    background-color: #005f86;
}
