.wpcf7-form .disabled .tp{z-index:-1}
.wpcf7-form>.step2{opacity:.6}
.wpcf7-form>.step3 .tp span,.wpcf7-form>.step3.disabled input[type='submit']{cursor:default}
.simlulator-frame{display:inline-block;position:absolute}
#content .columns .tp{margin:1em auto;position:relative;text-align:center}
#content .columns.two .tp h2,#content .columns.two .tp h3,#content .columns.two .tp h4,#content .columns.two .tp h5,#content .columns.two .tp ul{margin:0;padding:0;position:absolute;left:0;text-align:left}
#content .columns.two .tp>img{border:2px solid #EAEAEA;border-radius:24px}
#content .columns.two .tp ul{top:77px}
#content .columns.two .tp ul li{padding-left:38px}
#content .columns .tp ul li{font-family:'Neo-Sans',sans-serif;list-style:none}
#content .columns.two .tp ul li{margin:0;padding-bottom:4px;min-height:19.5px;color:#333333;font-size:15px;line-height:1}
#content .columns.two .tp ul li:last-child{margin-top:15px}
#content .columns.two .tp h2,#content .columns.two .tp h4{color:#FFFFFF;text-indent:23px}
#content .columns.two .tp h2{bottom:63px;font-size:22.5px}
#content .columns.two .tp h4{bottom:42px;font-size:18.5px;font-weight:400}
#content .columns.two .tp h3,#content .columns.two .tp h5{text-indent:21px}
#content .columns.two .tp h3,#content .columns.two .tp h5{margin-top:0}
#content .columns.two .tp h3{top:18px;font-size:22px}
#content .columns.two .tp h5{top:42px;font-size:18px;font-weight:400}
#content .tp:not(.digital) li:not(.ui-state-default){margin-top:0;margin-bottom:0;padding-bottom:0;font-size:16px;line-height:16px}
#content .tp li:not(.ui-state-default){font-weight:400}
#content .columns .tp.digital #mobile-content{display:inline-block;width:252px;height:376px;position:absolute;top:100px;left:178px;overflow:auto}
#content .columns .tp.digital #mobile-frame{width:296px;height:575px;background:none;border:none;border-radius:0}
#content .columns .tp.digital h2,#content .columns .tp.digital h4,#content .columns .tp.digital h5{padding:0 .4em;color:#FFFFFF}
#content .columns .tp.digital h2{margin-top:.4em;margin-bottom:0;font-size:1.6em}
#content .columns .tp.digital h4{margin-top:0;font-size:1.4em}
#content .columns .tp.digital h5{margin:0 auto 1em;padding:.4em .8em;text-transform:uppercase;background:rgba(0,0,0,.1);border-bottom-left-radius:6px;border-bottom-right-radius:6px;font-weight:500;font-size:.9em}
#content .columns .tp.digital li{clear:both;margin:0 auto 1em;padding:.6em 1em;width:fit-content;background:rgba(0,0,0,.4);border-radius:12px;font-size:.6em;color:rgba(255,255,255,.8);text-transform:uppercase}
#content .columns .tp.digital li>span{display:block;font-size:1rem;text-transform:none;font-weight:500;color:#FFFFFF}
#content .columns .tp.digital #mobile-logo{height:40px;background:none;border:none;border-radius:0}
#content .columns .tp.digital #mobile-content{padding-top:20px}
#content .columns .tp.digital #mobile-content,#content .columns .tp.digital.grupo_datco #mobile-content{background-color:rgba(0,0,0,.6);background-image:url('https://www.grupodatco.com/qr-bcard/img/grupo_datco-bkg_1920_1080.png');background-position:center left;background-size:cover;background-blend-mode:multiply}
#content .columns .tp.digital:not(.baitcon):not(.datco):not(.focus):not(.interservices):not(.sersat):not(.silica_networks):not(.velocom) li,#content .columns .tp.digital.grupo_datco li{border:1px solid #FFB201}
#content .columns .tp.digital.baitcon #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/baitcon-bkg_1920_1080.png')}
#content .columns .tp.digital.datco #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/datco-bkg_1920_1080.png')}
#content .columns .tp.digital.focus #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/focus-bkg_1920_1080.png')}
#content .columns .tp.digital.interservices #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/interservices-bkg_1920_1080.png');}
#content .columns .tp.digital.sersat #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/sersat-bkg_1920_1080.png')}
#content .columns .tp.digital.silica_networks #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/silica_networks-bkg_1920_1080.png')}
#content .columns .tp.digital.velocom #mobile-content{background-image:url('https://www.grupodatco.com/qr-bcard/img/velocom-bkg_1920_1080.png')}
#content .columns.two .tp h3,#content .columns.two .tp h5,#content .columns.two .tp.grupo_datco h3,#content .columns.two .tp.grupo_datco h5{color:#0E316E}
#content .columns .tp.digital li:nth-child(2){margin-bottom:0}
#content .columns .tp.digital li:nth-child(3),#content .columns .tp.digital.grupo_datco li:nth-child(3){padding:0;border:none!important}
#content .columns.two .tp.baitcon h3,#content .columns.two .tp.baitcon h5{color:#89388D}
#content .columns.two .tp.datco h3,#content .columns.two .tp.datco h5{color:#1C8DCE}
#content .columns.two .tp.focus h3,#content .columns.two .tp.focus h5{color:#39457E}
#content .columns.two .tp.interservices h3,#content .columns.two .tp.interservices h5{color:#BF250D}
#content .columns.two .tp.sersat h3,#content .columns.two .tp.sersat h5{color:#109B84}
#content .columns.two .tp.silica_networks h3,#content .columns.two .tp.silica_networks h5{color:#87B217}
#content .columns.two .tp.velocom h3,#content .columns.two .tp.velocom h5{color:#AE1A57}

/* Mobile */
@media (max-width:782px) {
	#content .columns.two .tp ul{padding:0;top:23%;left:13%}
	#content .columns.two .tp ul li{padding-bottom:0;font-size:4.75vw;line-height:6vw}
	#content .columns.two .tp ul li:last-child{margin-top:10%;line-height:4.5vw}
	#content .columns.two .tp h2{bottom:18vw;font-size:6.5vw}
	#content .columns.two .tp h4{bottom:12.5vw;font-size:5.4vw}
	#content .columns.two .tp h3{top:6vw;font-size:6vw;text-align:left}
	#content .columns.two .tp h5{top:12vw;font-size:5vw;text-align:left}
	#content .columns.two .tp ul li:last-child{margin-top:14px;line-height:18px}
	#content .columns .tp.digital #mobile-content{left:49px}
}