/* Grupo Datco */
:root{--mainColor:#0E316E;--subColor:#1F4483;--highlightColor:#F0582B;--extraColor:#FFB201;--whiteColor:#FFFFFF}

body.branding .fusion-main-menu-search,body.branding .fusion-icon-search,body.branding .fusion-mobile-menu-search,
body.branding .fusion-footer-widget-area .widget_nav_menu,
body.no-partners #partners_footer>.fusion-fullwidth,
.fusion-portfolio-meta a:not([href*='categoria-producto-servicio/flag-']),
article.fusion-post-grid.category-tips-para-empresas h2.fusion-post-title,article.category-tips-para-empresas .related-posts .fusion-carousel-title{display:none!important}

/* Header: transparente */
.fusion-body .fusion-is-sticky.fusion-header-wrapper .fusion-header,.fusion-body .fusion-is-sticky.fusion-header-wrapper .fusion-secondary-main-menu,.fusion-main-menu .sub-menu,.fusion-megamenu-wrapper,.fusion-top-header .fusion-header,.avada-html-is-archive .fusion-top-header .fusion-header{background:var(--mainColor)}

body.branding .fusion-footer-widget-area{margin:0;padding:0!important;height:0}
::-moz-selection{background:var(--highlightColor);color:var(--whiteColor)}
::selection{background:var(--highlightColor);color:var(--whiteColor)}
.fusion-megamenu-wrapper .fusion-megamenu-submenu.fusion-megamenu-columns-2.menu-item-26501{width:35%}
.fusion-megamenu-wrapper .fusion-megamenu-submenu.fusion-megamenu-columns-2.menu-item-26502{width:65%}
body.single-format-standard:not(.single-avada_portfolio) .post-content .fusion-text:first-of-type>p:first-of-type:first-letter,body.single-format-standard:not(.single-avada_portfolio) .post-content .fusion-text:first-of-type>span+*::first-letter,.cta,.fusion-testimonials.clean .author strong{color:var(--mainColor)}
body.single-avada_portfolio .fusion-page-title-bar,.fusion-panel table thead tr td,.fusion-panel table thead tr th,.fusion-text table thead tr td,.fusion-text table thead tr th,.brand-block>.fusion-column-wrapper>.fusion-column-content-centered{background:var(--mainColor)!important}
body.single-avada_portfolio .fusion-page-title-bar h1{color:var(--whiteColor)}
body a,.related-posts .awb-carousel .swiper-slide:hover a,.fusion-highlight,.datasheet-link,.fusion-portfolio-grid .fusion-portfolio-content-wrapper.hover h2 a,.content-box-wrapper.link-area-box-hover .icon,.content-box-wrapper.link-area-box-hover .heading-link,.fusion-accordian .panel-heading .panel-title a,.fusion-blog-shortcode .fusion-load-more-button.fusion-blog-button,#main .fusion-post-wrapper:hover h2 a,#main .fusion-portfolio-content-wrapper:hover h2 a,.fusion-testimonials.clean .author a:hover,.wpcf7 .fusion-one-full>a,.box-buttons .fusion-portfolio-content-wrapper:hover .fusion-post-content:before{color:var(--highlightColor)}
.fusion-content-boxes.shadow>.fusion-column>.col.link-area-box-hover .icon i,.fusion-content-boxes.shadow>.fusion-column>.col.link-area-box-hover h2,.fusion-portfolio-content-wrapper:hover .more-info{color:var(--highlightColor)!important}
body.single-avada_portfolio .fusion-page-title-bar .fusion-breadcrumbs,body.single-avada_portfolio .fusion-page-title-bar .fusion-breadcrumbs a,body.single-avada_portfolio .fusion-page-title-bar .fusion-breadcrumbs .fusion-breadcrumb-link>span{color:rgba(255,255,255,.8)}
.fusion-header .sub-menu,.fusion-megamenu-wrapper .fusion-megamenu-submenu{background:var(--mainColor)!important}
.fusion-header-wrapper .searchform .fusion-search-form-content .fusion-search-field input:not([type='submit']),.fusion-main-menu .fusion-main-menu-search-open,.table-2 thead tr td,.fusion-loading-container .fusion-spinner-1,.fusion-loading-container .fusion-spinner-2,.fusion-loading-container .fusion-spinner-3{background-color:var(--mainColor)}
input[type='submit']:hover,.wpcf7-submit:hover{background-color:var(--highlightColor)}
.bkg-img-color,.box-buttons .fusion-portfolio-content .fusion-button,.box-buttons .fusion-post-content .fusion-button{background-color:var(--highlightColor)}
.gradient-gray{background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 200%)}
.w80 .wpcf7 .wpcf7-submit:hover{border-color:var(--whiteColor)}
.post-content p strong a:hover,.post-content p>a:hover,.post-content p>a:active,.post-content ol li a:hover,.post-content ol li a:active,.post-content ul li a:hover,.post-content ul li a:active,.wpcf7 .fusion-one-full a:hover,.wpcf7 .fusion-one-full a:active,.fusion-accordian .panel-title a:hover,.toggle-content a:hover,.datasheet-link:hover,.fusion-accordian .panel-title a:hover .fa-fusion-box,.fusion-tabs .nav-tabs li a:hover,.fusion-content-boxes .heading .heading-link:hover .content-box-heading,.fusion-tabs .nav-tabs li.active a .fusion-tab-heading,.fusion-tabs .nav-tabs li a:hover .fusion-tab-heading,.fusion-tabs .nav-tabs li.active a,.fusion-filters .fusion-filter.fusion-active a,.fusion-filters .fusion-filter a:hover,.fusion-accordian .panel-title a.active .fusion-toggle-heading{color:var(--subColor)}
.fusion-one-third.box-company h5,.fusion-one-fourth.box-company h5,.fusion-one-third.box-company:hover h5,.fusion-one-fourth.box-company:hover h5,.box-buttons .fusion-portfolio-content .fusion-button,.box-buttons .fusion-post-content .fusion-button,.box-buttons .button-default .fusion-button-text{color:var(--whiteColor)}
.fusion-footer .fusion-layout-column{margin-bottom:0}
.fusion-footer .fusion-layout-column .fusion-imageframe,#partners_footer .fusion-imageframe{border:0}
#respond{margin-top:4em}
#main #comment-submit:hover{background-color:var(--subColor)}
.fusion-reading-box-container .reading-box{border:2px solid rgba(0,0,0,.1)}
.fusion-portfolio-grid .fusion-portfolio-post[class*='f-'] .fusion-post-content .fusion-layout-column{margin:0}
.sidebar .fusion-sidebar-inner-content.fusion-sidebar-stuck #text-7{margin-top:0}
#content .box-buttons .fusion-portfolio-content .fusion-button:hover,#content .box-buttons .fusion-post-content .fusion-button:hover{background:var(--subColor)}
.post-content div blockquote,.fusion-testimonials.clean .author,.fusion-testimonials .testimonial-pagination{border-left-color:var(--extraColor)}
body.single:not(.single-avada_portfolio) .avada-page-titlebar-wrapper.bkg:before{background-image:linear-gradient(180deg,rgba(0,0,0,.4),rgba(0,0,0,.8));z-index:1}
.rotate{transition:all 2s ease-out}

/* Formulario con fondo blanco */
body.single-format-standard #wpcf7-f39956-o1 h3,body.archive #wpcf7-f39956-o1 h3,#wrapper.no-menu .wpcf7-form h3{margin-top:0}
body.page-id-39954 .fusion-fullwidth .wpcf7{padding:15px 30px;background:var(--whiteColor);border-radius:12px;box-shadow:0 0 16px var(--highlightColor)}

/* Modal */
.fusion-modal.contacto-rapido .fusion-fullwidth{background:var(--mainColor)!important}
body.branding .fusion-modal.contacto-rapido .fusion-fullwidth>.fusion-builder-row>.fusion-layout-column:not(.fusion-column-last){width:100%}

/* IoP: Smartcloud */
.suite{border-top-left-radius:48px;border-top-right-radius:48px}
.suite .fusion-column-content-centered,.suite .fusion-column-wrapper{display:block;width:100%;height:100%;min-height:150px!important}
.suite .fusion-column-content-centered{padding-top:1.8em}
.single-avada_portfolio .suite .fusion-column-content-centered,.single-avada_portfolio .suite .fusion-column-wrapper{padding-top:1em;min-height:8em}
.suite .fusion-column-content-centered{background-color:transparent;perspective:1000px}
.suite .fusion-column-content{position:relative;width:100%;height:100%;text-align:center;transition:transform .6s;transform-style:preserve-3d;z-index:10}
.suite .fusion-column-content-centered:hover .fusion-column-content{transform:rotateY(180deg)}
.suite .fusion-column-content-centered .fusion-text{transition:opacity 1s;opacity:0}
.suite .fusion-column-content-centered:hover .fusion-text{opacity:1}
.suite .fusion-column-content-centered .imageframe-align-center{transition:opacity 1s;opacity:1;transform:translate(0%,-50%)}
.suite .fusion-column-content-centered:hover .imageframe-align-center{opacity:0}
.suite .imageframe-align-center,.suite .fusion-text{transform:translate(-50%,-50%);position:absolute;top:0;left:0;width:100%;height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.suite .fusion-text{top:-10px}
.single-avada_portfolio .suite .fusion-text{padding:0 .7em;top:-5px}
.single-avada_portfolio .suite .fusion-text p{margin-bottom:0}
.single-avada_portfolio .suite .imageframe-align-center{top:10px}
.suite .fusion-layout-column.fusion-one-third .fusion-column-wrapper{transition:all 1s;background-size:50%}
.suite .fusion-layout-column.fusion-one-third:not(.not-available) .fusion-column-wrapper:hover{background-size:80%}
.suite .fusion-layout-column.fusion-one-third:not(.not-available) .fusion-column-wrapper .fusion-column-content-centered:after{transition:opacity 1s;opacity:0;background:rgba(0,0,0,.4);content:'';position:absolute;top:0;left:0;width:100%;height:100%}
.suite .fusion-layout-column.fusion-one-third:not(.not-available) .fusion-column-wrapper:hover .fusion-column-content-centered:after{opacity:1}
.suite .fusion-column-content-centered .fusion-text-4{top:-10px}
.suite .fusion-text{padding:0 1em;color:var(--whiteColor);transform:rotateY(180deg)}
.suite .fusion-one-third .fusion-text p{text-align:left}
.suite .fusion-text a{color:var(--whiteColor)!important;font-size:1.2em;font-weight:500;font-family:'Neo-Sans',sans-serif}
#smarcloud-ar .imageframe-align-center{top:16px}
.single-avada_portfolio #smarcloud-ar .imageframe-align-center{top:25px}
#smarcloud-iot .imageframe-align-center{top:10px}
.single-avada_portfolio #smarcloud-iot .imageframe-align-center{top:15px}
#smartime .imageframe-align-center{top:-4px}
.single-avada_portfolio #smartime .imageframe-align-center{top:10px}
#smartworks .imageframe-align-center{top:6px}

/* Desktop */
@media (min-width:920px) {
	body.page-id-39954 #pilares-4 .fusion-read-more-button{visibility:hidden;display:block;margin-top:0;width:100%;height:100%;position:absolute;top:0;left:0}
	#menu-item-39974{transition:all .4s ease-in-out;overflow:hidden;width:150px}
	body.branding .modal-dialog{max-width:900px}
	.pilares .fusion-column-wrapper .fusion-text{height:0;transition:all 1s ease-in-out;overflow:hidden}
}

/* Mobile */
@media (max-width:920px) {
	.hidden_link,#text-7 .textwidget .fusion-button i,#nav_menu-3 h4{display:none}
	.fusion-portfolio-post[class*='sitios4_0-'] h2 a{padding-right:60px}
	#menu-footer-soluciones-2-2{margin-top:0}
	#wrapper > div.fusion-footer > footer.fusion-footer-widget-area.fusion-widget-area > div > div > div:nth-child(1),#menu-footer-soluciones-1-2{margin-bottom:0}
}