/* Silica Networks */
body.page-id-24258 .fusion-main-menu>ul>li:last-child,body.page-id-32849 .tfs-slider .slide-content-container .caption,body.archive.tax-portfolio_category .fusion-image-wrapper,.fusion-pricing-table .panel-body.pricing-row{display:none!important}
body.page-id-32849 .overlay-link{visibility:hidden}
::-moz-selection{background:#87B227!important;color:#FFFFFF}::selection{background:#87B227!important;color:#FFFFFF}
body.single-format-standard:not(.single-avada_portfolio) .post-content .fusion-text:first-of-type>p:first-of-type:first-letter,body.single-format-standard:not(.single-avada_portfolio) .post-content .fusion-text:first-of-type>span+*::first-letter{color:#497718!important}
body.single-avada_portfolio .fusion-page-title-bar{background:#87B227!important}
body.single-avada_portfolio .fusion-page-title-bar h1{color:#FFFFFF!important}
body.single-avada_portfolio .fusion-page-title-bar .fusion-breadcrumbs,body.single-avada_portfolio .fusion-page-title-bar .fusion-breadcrumbs a,body.single-avada_portfolio .fusion-page-title-bar .fusion-breadcrumbs .fusion-breadcrumb-link>span{color:rgba(255,255,255,.8)}
.fusion-button:not(.button-custom):not(.menu-text),.fusion-button:not(.button-custom):not(.menu-text):visited,.fusion-blog-shortcode .fusion-load-more-button.fusion-blog-button,.fusion-load-more-button.fusion-blog-button,.wpcf7-form input[type='submit']{border-color:#87B227!important;color:#87B227}
.fusion-button:not(.button-custom):not(.menu-text):hover,.fusion-button:not(.button-custom):not(.menu-text):focus,.fusion-blog-shortcode .fusion-load-more-button.fusion-blog-button:hover,.fusion-load-more-button.fusion-blog-button:hover,.wpcf7-form input[type='submit']:hover{border-color:#87B227;background:#87B227;color:#FFFFFF}
.fusion-button:not(.button-custom):not(.menu-text) .fusion-button-text{background:none;color:#87B227}
.fusion-main-menu .fusion-menu-item-button .menu-text:hover{background:#FFFFFF;color:#87B227}
.fusion-blog-layout-grid .fusion-post-wrapper:hover .fusion-image-wrapper,.fusion-portfolio-grid-with-text .fusion-portfolio-content-wrapper:hover .fusion-image-wrapper{background-color:#87B227!important}
#content .button-default:hover,.wpcf7 .wpcf7-form input[type='submit']:not(.sending):hover,.fusion-loading-container .fusion-spinner-1,.fusion-loading-container .fusion-spinner-2,.fusion-loading-container .fusion-spinner-3,.fusion-blog-layout-grid .fusion-post-wrapper .fusion-image-wrapper img,.fusion-carousel .fusion-carousel-item img{background-color:#87B227!important}
.related-posts .fusion-carousel .fusion-carousel-item:hover .fusion-carousel-title a{color:#87B227}
.fusion-header,#wrapper.header-transparent .fusion-header.bkg{background:#497718!important}
.fusion-header .sub-menu,.fusion-megamenu-wrapper .fusion-megamenu-submenu{background:#5B7B33!important}
body:not(.home) .fusion-posts-container article.category-c-productos-servicios .fusion-post-content{padding-bottom:53px!important}
.w80 .wpcf7 .wpcf7-submit:hover{background:#87B227!important;border-color:#FFFFFF!important}
.fusion-highlight,.datasheet-link{color:#87B227}
.fusion-post-wrapper:hover h2 a,.fusion-portfolio-content-wrapper:hover h2 a{color:#87B227!important}
.fusion-one-fourth h5,.wpcf7 .fusion-one-full>p i,.wpcf7 .fusion-one-full>p a,.fusion-footer-widget-column .textwidget p a{color:#497718}
.fusion-one-third h2,.fusion-one-half h2,.fusion-one-fourth h2,.fusion-mobile-menu-icons a:before,.wpcf7 .fusion-one-full>p:hover i,.wpcf7 .fusion-one-full>p a:hover,.fusion-footer-widget-column .textwidget p a:hover{color:#497718}
.fusion-header-wrapper .searchform .fusion-search-form-content .fusion-search-field input:not([type='submit']),.fusion-main-menu .fusion-main-menu-search-open{background:#497718!important}
.post-content p strong a:hover,.post-content p>a:hover,.post-content p>a:active,.post-content ol li a:hover,.post-content ol li a:active,.post-content ul li a:hover,.post-content ul li a:active,.wpcf7 .fusion-one-full a:hover,.wpcf7 .fusion-one-full a:active,.fusion-accordian .panel-title a:hover,.toggle-content a:hover,.datasheet-link:hover{color:#AADB23}
#wrapper.gradient-s .tfs-slider .background:after,#wrapper.gradient-s .tfs-slider li .mobile_video_image:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%}
.fusion-fullwidth.fullwidth-box.gradient-s:after{background:linear-gradient(270deg,rgba(135,178,23,0) 50%,#497718)!important}
.fusion-fullwidth.fullwidth-box.video-background.gradient-s:after{background:linear-gradient(270deg,rgba(0,0,0,.4) 50%,#497718)!important}
#wrapper.gradient-s .tfs-slider .background:after,#wrapper.gradient-s .tfs-slider li .mobile_video_image:after{background:linear-gradient(270deg,rgba(0,0,0,.6) 50%,#497718 100%)!important}
#wrapper:not(.gradient-s) .tfs-slider .background:after,#wrapper:not(.gradient-s) .tfs-slider li .mobile_video_image:after{background:linear-gradient(270deg,rgba(0,0,0,.4) 50%,rgba(0,0,0,.8) 100%)!important}
.box-buttons .fusion-portfolio-content .fusion-button,.box-buttons .fusion-post-content .fusion-button{color:#87B227!important}
#content .box-buttons .fusion-portfolio-content .fusion-button:hover,#content .box-buttons .fusion-post-content .fusion-button:hover{background:#87B227!important}
.fusion-modal.contacto-rapido .fusion-fullwidth{background:#497718!important}
.fusion-content-boxes.no-heading-title h5{color:#497718}
#content .tfs-slider video{border-color:#497718}
#main #comment-submit,.wpcf7 .fusion-one-full>a{color:#87B227}
#main #comment-submit:hover{background-color:#87B227}
.fusion-reading-box-container .reading-box{border-width:4px!important;border-color:#497718!important}
.fusion-tabs .nav-tabs li a:hover{color:#87B227}
.fusion-tabs .nav-tabs li.active a .fusion-tab-heading,.fusion-tabs .nav-tabs li a:hover .fusion-tab-heading{color:#87B227}
.fusion-tabs .nav-tabs li.active a,.fusion-filters .fusion-filter.fusion-active a,.fusion-filters .fusion-filter a:hover,.fusion-tabs .nav-tabs li.active a .fusion-tab-heading,.fusion-tabs .nav-tabs li a:hover .fusion-tab-heading{color:#87B227!important}
#text-11{margin-bottom:20px!important}
.fusion-fullwidth.fullwidth-box.bg-parallax-parent{background-image:url('https://www.silicanetworks.com/wp-content/uploads/sites/5/bkg-s-servicios-2.jpg')!important;z-index:initial!important}
.fusion-portfolio-post .fusion-portfolio-content-wrapper{border-bottom:3px solid rgba(73,119,24,0.6)!important}
.fusion-fullwidth.fullwidth-box.bg-parallax-parent .fusion-title h2,.fusion-fullwidth.fullwidth-box.bg-parallax-parent .fusion-title h3,.fusion-fullwidth.fullwidth-box.bg-parallax-parent .fusion-imageframe{display:inline-block;background:#EAEAEA;box-shadow:0 0 16px 16px #EAEAEA}
.fusion-fullwidth.fullwidth-box.bg-parallax-parent .fusion-column-wrapper{background-size:contain!important}
.fusion-fullwidth .parallax-inner{background-color:transparent!important;z-index:0!important}
body.single .avada-page-titlebar-wrapper.bkg:before{background-image:linear-gradient(180deg,#497718,rgba(255,255,255,.7));z-index:1}
#wrapper .full-boxed-pricing .panel-wrapper{padding:0 1em}
.fusion-pricing-table .list-group-item{text-align:left;list-style-type:'👉';padding-inline-start: 1ch;}
.fusion-pricingtable-column .panel-container{box-shadow:0 10px 20px rgba(0,0,0,.2)}
.fusion-pricingtable-column .panel-wrapper:nth-child(1) .panel-container{border-top:4px solid #AADC23}
.fusion-pricingtable-column .panel-wrapper:nth-child(1) .panel-container .panel-heading h3{color:#AADC23}
.fusion-pricingtable-column .panel-wrapper:nth-child(2) .panel-container{border-top:4px solid #88B226}
.fusion-pricingtable-column .panel-wrapper:nth-child(2) .panel-container .panel-heading h3{color:#88B226}
.fusion-pricingtable-column .panel-wrapper:nth-child(3) .panel-container{border-top:4px solid #497719}
.fusion-pricingtable-column .panel-wrapper:nth-child(3) .panel-container .panel-heading h3{color:#497719}
.fusion-pricingtable-column .panel-wrapper:nth-child(4) .panel-container{border-top:4px solid #324B1C}
.fusion-pricingtable-column .panel-wrapper:nth-child(4) .panel-container .panel-heading h3{color:#324B1C}
.fusion-pricing-table .list-group .list-group-item{background:#FFFFFF!important;border:none!important}
.full-boxed-pricing{background:none!important}
.post-content .fusion-tabs:not(.tab-filters){border:none!important}
.fusion-tabs:not(.tab-filters) .nav-tabs{border-bottom:1px solid #EAEAEA!important}
.fusion-tabs .nav-tabs li.active a.tab-link{background:linear-gradient(to bottom right,#aadc23,#497719)!important}
.fusion-tabs .nav-tabs li.active h4{color:#FFFFFF}

/* Desktop */
@media (min-width:920px) {
	.fusion-modal.contacto-rapido .modal-lg{width:1200px}
}

/* Mobile */
@media (max-width:920px) {
	body.postid-31175 .flexslider{width:300%!important}
	body.postid-31175 .fusion-li-item-content{font-size:18px}
	#nav_menu-5,#nav_menu-11,#nav_menu-6,#nav_menu-7{width:100%}
	.fusion-mobile-nav-item.social-link{width:100%!important}
	.fusion-fullwidth.fullwidth-box.gradient-s:after{background:linear-gradient(0deg,rgba(135,178,23,0) 50%,#497718)!important}
	.fusion-fullwidth.fullwidth-box.video-background.gradient-s:after{background:linear-gradient(0deg,rgba(0,0,0,.4) 50%,#497718)!important}
}