/* Silica Networks */
:root{--mainColor:#497718;--subColor:#324C1B;--highlightColor:#87B227;}

/* Custom */
.fusion-portfolio.destacados .fusion-portfolio-content-wrapper{display:grid;grid-template-columns:20% 80%}
.fusion-portfolio.destacados .fusion-image-wrapper{background:#EAEAEA;border-bottom:none}
.fusion-portfolio.destacados .fusion-image-wrapper img{padding:.8em}

/* Empresas */
body.page-id-36729 #nav_menu-5,body.page-id-36729 #nav_menu-11,body.page-id-36729 #nav_menu-6,body.page-id-36729 #nav_menu-7,
body.page-id-36729 .fusion-social-links-footer,body.page-id-36729 .fusion-main-menu-search,
body.page-child.parent-pageid-36729 #nav_menu-5,body.page-child.parent-pageid-36729 #nav_menu-11,body.page-child.parent-pageid-36729 #nav_menu-6,body.page-child.parent-pageid-36729 #nav_menu-7,
body.page-child.parent-pageid-36729 .fusion-social-links-footer,body.page-child.parent-pageid-36729 .fusion-main-menu-search,
body.page-id-36729 .not-empresas.fusion-layout-column,body.parent-pageid-36729 .not-empresas.fusion-layout-column,
article.post-37497 .fusion-buttons.two .fusion-button:first-child,article.post-37499 .fusion-buttons.two .fusion-button:first-child,article.post-37502 .fusion-buttons.two .fusion-button:first-child{display:none!important}
body.page-id-36729 .fusion-copyright-content,
body.page-child.parent-pageid-36729 .fusion-copyright-content{text-align:center}
body.page-id-36729 .modal-lg .fusion-layout-column.fusion-column-first,body.page-child.parent-pageid-36729 .modal-lg .fusion-layout-column.fusion-column-first{width:100%!important}

/* Hover Boxes */
.hover-boxes .fusion-layout-column{margin-top:-5em}
.hover-boxes .fusion-layout-column:hover{transform:scale(1.05)}
.hover-boxes .fusion-layout-column .fusion-column-wrapper{margin-bottom:0;padding:2rem 1.5rem;box-shadow:0 0 24px rgba(0,0,0,.3);border-radius:12px}
.hover-boxes .fusion-layout-column:hover .fusion-column-wrapper{border-radius:24px}
.hover-boxes .fusion-layout-column .fusion-button{margin:0;position:absolute;bottom:0;right:10px;opacity:0}
.hover-boxes .fusion-layout-column:hover .fusion-button{bottom:-10px;opacity:1}
.hover-boxes .fusion-layout-column .fusion-title{padding-right:30px;font-size:1.525em}
.hover-boxes .fusion-layout-column .fusion-title *{margin:-.25em 0 0!important}
.hover-boxes .fusion-layout-column .fusion-title i{position:absolute;top:.65em;right:.4em;font-size:1.6em;transform:rotate(10deg);opacity:.1}
.hover-boxes .fusion-layout-column:hover .fusion-title i{transform:scale(1.05);opacity:1}
.hover-boxes .fusion-layout-column .fusion-text p{margin-bottom:10px}

/* Carrousel */
.fusion-image-carousel-fixed .awb-swiper .fusion-image-wrapper img{max-height:75px}
.awb-swiper:not(.swiper-fade) .swiper-wrapper{align-items:center}

/* Mobile */
@media (max-width:920px) {
	.fusion-portfolio.destacados .fusion-portfolio-content-wrapper{grid-template-columns:100%}
}

/* Desktop */
@media (min-width:920px) {
	body.page-id-36729 .modal-lg,body.page-child.parent-pageid-36729 .modal-lg{width:600px}
}